@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

* {
  margin: 0;
  padding: 0;
  font: 400 110%/140% "Exo", sans-serif;
  box-sizing: border-box;
}

html {
  background: url(
      https://cdn.glitch.com/b7643b5b-8aaa-4826-97c4-76f856ac2803%2Ffabrizio-conti-b5rPuIBFeME-unsplash.jpg?v=1569761318680
    ) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 250%;
  padding: 2% 10%;
  font-weight: 700;
  text-align: center;
  margin-top: 2%;
}

#content {
  padding: 3.5% 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#buttons {
  display: inline-flex;
  flex-direction: column;
}

button {
  margin: 12px auto;
  background-color: rgba(184, 233, 148, 0.75);
  border-color: transparent;
  padding: 0.5em 1em;
  border-radius: 18px;
  width: 220px;
}

button:first-of-type {
  margin-top: 0;
}

#language {
  border: 3px solid rgba(184, 233, 148, 0.75);
  background-color: rgba(255, 255, 255, 0.45);
}

#advice {
  text-align: left;
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.45);
  margin-top: -9%;
  width: 40%;
  max-height: 9.5em;
  border-radius: 18px;
  display: none;

  /* required for pseudo-element */
  position: relative;
  border-color: rgba(255, 255, 255, 0.45);
}

#advice:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  border-top: 20px solid rgba(255, 255, 255, 0.45);
  border-top-color: inherit;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

#photo-credit {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.55);
  padding: 5px 8px;
  font-size: 80%;
  font-weight: 500;
}

a {
  color: royalblue;
  text-decoration: none;
}

button:hover,
button:focus,
a:hover,
a:focus {
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: underline;
}

@media (max-width: 1024px) and (orientation: portrait) {
  h1 {
    margin-top: 15%;
  }
  
  #content {
    margin-top: 7%;
  }
  
  #advice {
    margin-top: -10%;
  }
}

@media (max-width: 768px) {
  html {
    background-position-x: 58%;
  }
  
  h1 {
    margin-top: 12%;
  }
  
  #content {
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }
  
  #buttons {
    flex-direction: row;
    margin: 12px 10%;
    flex-wrap: wrap;
  }
  
  button:first-of-type {
    margin-top: 12px;
  }
  
  #advice {
    margin-top: 8%;
    margin-left: 66%;
    max-height: 11em;
  }
  
  #advice:after {
    top: 30px;
    left: -40px;
    border-right: 20px solid rgba(255, 255, 255, 0.45);
    border-right-color: inherit;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

@media (max-width: 600px) {
  /* todo */
}